body{
  margin: 0;
}

.navImg{
  height: 30px;
  width: 32px;
}

.background{
  width: 100%;
}

.background img{
  width: 100%;
  height: 92vh;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  height: 96vh;
  width: 100%;
}



.TextStyle{
  width: 100%;
}

.lista-integrantes {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.lista-integrantes h2 {
  font-size: 1.5 rem;
  margin-bottom: 10px;
}

.lista-integrantes ul {
  list-style: none;
  padding: 0;
}

.lista-integrantes li {
  margin-bottom: 5px;
}

.lista-integrantes li strong {
  color: #007bff;
}