.navImg{
  height: 30px;
  width: 32px;
}

/* .background{
  width: 100%;
}

.background img{
  width: 100%;
  height: 92vh;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
} */

* {
  box-sizing: border-box;
  margin: 0;
}

html, body{
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 0;
  height: 96vh;
  width: 100%;
  padding-top: 4vh;
}

.description {
  width: 100%;
  height: 32px;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.forms{
  width: 100%;
  height: auto;
}

.messenger{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0.625rem;
  margin-bottom: 5px;
  background-color: #00A1FC;
}

.TextStyle{
  width: 100%;
}

.BTNintegrantes{
  transform: translateY(-42px);
  font-size: 22px;
}